// Custom variables

@custom-petrol: #006380;
@navbar-collapse-collapsing-font-size: 5vmin;

// Bootstrap overrides

@font-family-sans-serif: "Maven Pro", sans-serif;

@navbar-inverse-bg: white;
@navbar-inverse-border: @custom-petrol;
@navbar-inverse-link-color: grey;
@navbar-inverse-link-hover-color: @custom-petrol;
@navbar-inverse-link-hover-bg: white;
@navbar-inverse-link-active-color: @custom-petrol;
@navbar-inverse-link-active-bg: white;
@navbar-inverse-toggle-hover-bg: grey;
@navbar-inverse-toggle-icon-bar-bg: @custom-petrol;
@navbar-inverse-toggle-border-color: @custom-petrol;